<Navbar Direction=NavbarDirection.Vertical Background=NavbarBackground.Dark>

    <a href="https://github.com/joadan/Blazor-Tabler" class="navbar-brand navbar-brand-autodark">
        <img src="img/TabBlazorLogoWhite.png" alt="Tabler" class="navbar-brand-image me-2">
        <h2 class="text-muted">Dashboard Padrão</h2>
    </a>

    <NavbarMenu>
        <NavbarMenuItem Href="" Text="Dashboard">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Dashboard" />
            </MenuItemIcon>
        </NavbarMenuItem>
        <NavbarMenuItem Text="Video">
            <MenuItemIcon>
                <Icon class="icon" Elements="@Icons.Video" />
            </MenuItemIcon>
            <SubMenu>
                <div class="dropdown-menu-columns">
                    <div class="dropdown-menu-column">
                            <NavbarMenuItem Text="Upload" Href="/upload" >
                            <MenuItemIcon>
                                <Icon class="icon" Elements="@Icons.Upload" />
                            </MenuItemIcon>
                            </NavbarMenuItem>
                    </div>
                </div>
            </SubMenu>
        </NavbarMenuItem>
    </NavbarMenu>
</Navbar>
